name: Production

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - Deploying
jobs:
  run-DevOps_Project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure kubectl
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --name demo-cluster --region us-east-1

         


      - name: create users in db
        run: |
          ls -la kubernetes/authentication/mysql
          kubectl get secret mysql-secret >/dev/null 2>&1 || { \
           cd kubernetes/authentication/mysql; \
           kubectl create secret generic mysql-secret \
              --from-literal=root-password='secure-root-pw' \
              --from-literal=auth-password='my-secret-pw' \
              --from-literal=secret-key='xco0sr0fh4e52x03g9mv';  \
               }
      