name: Production

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - Deploying
jobs:
  run-DevOps_Project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure kubectl
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --name demo-cluster --region us-east-1

         

      - name: apply sealed secret controller
        run: |
          kubectl apply -f controller.yaml 
          kubectl get pods -n kube-system
      - name: create users in db
        run: |
          ls -la kubernetes/authentication/mysql
          kubectl get secret mysql-secret >/dev/null 2>&1 || { \
           cd kubernetes/authentication/mysql; \
           kubectl create secret generic mysql-secret \
              --from-literal=root-password='secure-root-pw' \
              --from-literal=auth-password='my-secret-pw' \
              --from-literal=secret-key='xco0sr0fh4e52x03g9mv';  \
               }
          kubectl get secret mysql-secret -o yaml > ./database_helm/templates/mysql-secret.yaml
      - name: Install kubeseal
        run: |
          if command -v kubeseal &> /dev/null; then
            echo "kubeseal installed "
          else
            echo "kubeseal not installed "

            VERSION=$(curl -s https://api.github.com/repos/bitnami-labs/sealed-secrets/releases/latest | grep tag_name | cut -d '"' -f 4)
            echo "Installing kubeseal version: $VERSION"
            curl -OL "https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.34.0/kubeseal-0.34.0-linux-amd64.tar.gz"
            tar -xvzf kubeseal-0.34.0-linux-amd64.tar.gz kubeseal 
            sudo install -m 755 kubeseal /usr/local/bin/kubeseal
            sudo mv kubeseal /usr/local/bin/
            kubeseal --version
          fi
      - name: Install Argo CD CLI
        run: |
          
            if ! command -v argocd &> /dev/null; then
              echo "ArgoCD not found. Installing..."
              curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
              chmod +x argocd
              sudo mv argocd /usr/local/bin/
              argocd version --client
      
            else
              echo "ArgoCD is already installed."
            fi
      - name: login to argocd CLI
        run:
          argocd login ${{ vars.ARGOCD_URL }} --username ${{ vars.ARGOCD_USER}} --password ${{ secrets.ARGOCD_PASSWORD }} --insecure --grpc-web
      - name: helm registry login
        run: |
          helm registry login ghcr.io \
            -u ${{ vars.HELM_USERNAME}} \
            -p ${{ secrets.TOKEN}}
      - name : create repo on github registry
        run: |
          argocd repo add ghcr.io/belalkhaledmohameed --type helm --name githubhelm   --enable-oci  --username  ${{ vars.HELM_USERNAME }} --password ${{ secrets.TOKEN }}   --upsert
      - name: Encrypt database Secret
        run: |
          kubeseal --fetch-cert > ./database_helm/templates/publickey.pem
          kubeseal --format=yaml --cert=publickey.pem < ./database_helm/templates/mysql-secret.yaml > ./database_helm/templates/sealedsecret.yaml
          rm ./database_helm/templates/mysql-secret.yaml
          rm ./database_helm/templates/publickey.pem
          kubectl delete secret mysql-secret 
      - name: create database
        run: |
          cd ./database_helm/
            helm package .
            helm push database_helm-0.1.0.tgz oci://ghcr.io/belalkhaledmohameed/githubhelm
      - name: waiting for database pod ready 
        run: kubectl wait --for=condition=ready pod -l app=mysql --timeout=90s

      - name: getting pods and svc
        run: |
          
          kubectl get pods
          kubectl get svc
          
      - name: create Svc account on database 
        run: |
          kubectl exec mysql-0 -- sh -c "
          mysql -u authuser -pmy-secret-pw <<EOF
          SHOW DATABASES;
          USE weatherapp;
          SHOW TABLES;
          EOF
          "

