name: Production

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - Deploying
jobs:
  run-DevOps_Project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure kubectl
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig --name demo-cluster --region us-east-1

         


      - name: create users in db
        run: |
          ls -la kubernetes/authentication/mysql
          kubectl get secret mysql-secret >/dev/null 2>&1 || { \
           cd kubernetes/authentication/mysql; \
           kubectl create secret generic mysql-secret \
              --from-literal=root-password='secure-root-pw' \
              --from-literal=auth-password='my-secret-pw' \
              --from-literal=secret-key='xco0sr0fh4e52x03g9mv';  \
               }
          kubectl get secret mysql-secret -o yaml > ./database_helm/templates/mysql-secret.yaml
      - name: Encrypt database Secret
        run: |
          kubeseal --fetch-cert > ./database_helm/templates/publickey.pem
          kubeseal --format=yaml --cert=publickey.pem < ./database_helm/templates/mysql-secret.yaml > ./database_helm/templates/sealedsecret.yaml
          rm ./database_helm/templates/mysql-secret.yaml
          rm ./database_helm/templates/publickey.pem
          kubectl delete secret mysql-secret 
      - name: create database
        run: |
          cd ./database_helm/
            helm package .
            helm push database_helm-0.1.0.tgz oci://ghcr.io/belalkhaledmohameed/githubhelm
      - name: waiting for database pod ready 
        run: kubectl wait --for=condition=ready pod -l app=mysql --timeout=90s

      - name: getting pods and svc
        run: |
          
          kubectl get pods
          kubectl get svc
          
      - name: create Svc account on database 
        run: |
          kubectl exec mysql-0 -- sh -c "
          mysql -u authuser -pmy-secret-pw <<EOF
          SHOW DATABASES;
          USE weatherapp;
          SHOW TABLES;
          EOF
          "

